.register-page {
    width: 100%;
    height: 100vh;
}

.register-page_inner {
    background: url("./../../images/Metallic-login.svg"), linear-gradient(138deg, rgba(233, 100, 255, 0.15) -8.79%, rgba(146, 63, 160, 0.09) 22.89%, rgba(0, 0, 0, 0.00) 76.33%), #131619;
    background-repeat: no-repeat;
    width: 100%;
    @include flexBox(row, nowrap, start, center);
    position: relative;
    height: 100%;
}

.background-register-page {
    width: 35%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 2.0625rem 0rem 0rem 2.0625rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url("./../../images/31cd41c991b956a6b7b8a060a5cb3460\ 1.jpg"), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-page_inner_left {
    height: 100vh;
    width: 50%;
    @include flexBox(column, nowrap, center, center);
}

.register-page_inner_left_inner {
    padding-left: 15rem;
    width: auto;
    @include flexBox(column, nowrap, normal, normal);
    gap: 1.9rem;
}

.register-page_inner_left_top_texts {
    height: auto;
    width: auto;
    @include flexBox(column, nowrap, space-between, start);
    gap: 0.5rem;
}

.register-page_inner_left_form_firstn_lastn {
    width: 80%;
    @include flexBox(column, nowrap, space-between, start);
    gap: 1.5rem;
}


.register-page_inner_left_top_texts_h2 {
    font-family: map-get($body-main , "font-plusjakarta" );
    font-size: 1.875rem;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    color: map-get($text-colors , "font-color-white-ff" );

    .register-page_inner_left_top_texts_h2_span {
         background: var(--linear, linear-gradient(180deg, rgba(255, 150, 251, 0.69) 0%, rgba(188, 143, 234, 0.69) 100%));
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
    }
}

.register-page_inner_left_form__first_last {
    width: 100%;
    @include flexBox(row , nowrap, space-between, center);

    > label {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}

.register-page_inner_left_form__first_last input {
    height: 2.10056rem;
    width: 90%;
    color: map-get($text-colors , "font-color-solid-black" );
    padding-left: 1rem;
    padding-right: 1.5rem;
    outline: none;
    border: 1px solid #282828;
    background: #141617;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;

    &:focus {
        scale: 1.03;
        transition: ease-in-out;
        transition-duration: 0.3s;
    }
}

.register-page_inner_left_form__email_username {
    width: 100%;
    @include flexBox(row , nowrap, space-between, center);

    > label {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}

.register-page_inner_left_form__email_username input {
    height: 2.10056rem;
    width: 90%;
    color: map-get($text-colors , "font-color-solid-black" );
    padding-left: 1rem;
    padding-right: 1.5rem;
    outline: none;
    border: 1px solid #282828;
    background: #141617;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;

    &:focus {
        scale: 1.03;
        transition: ease-in-out;
        transition-duration: 0.3s;
    }
}

.register-page_inner_left_form__pass_repeat {
    width: 100%;
    @include flexBox(row , nowrap, space-between, center);

    > label {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
}

.register-page_inner_left_form__pass_repeat input {
    height: 2.10056rem;
    width: 90%;
    color: map-get($text-colors , "font-color-solid-black" );
    padding-left: 1rem;
    padding-right: 1.5rem;
    outline: none;
    border: 1px solid #282828;
    background: #141617;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;

    &:focus {
        scale: 1.03;
        transition: ease-in-out;
        transition-duration: 0.3s;
    }
}

.register-page_inner_left_form_register-btn {
    width: 100%;

    > button {
        color: map-get($text-colors , "font-color-white-ff" );
        text-align: center;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 500;
        border: none;
        font-family: map-get($body-main , "font-plusjakarta" );
        border-radius: 12px;
        width: 100%;
        height: 2.9375rem;
        background: linear-gradient(180deg, rgba(255, 150, 251, 0.69) 0%, rgba(188, 143, 234, 0.69) 100%);
        
        &:hover {
            cursor: pointer;
        }
    }
}

.register-page_inner_left_form__upl_img {
    width: 100%;
    @include flexBox(column , nowrap, space-between, center);
    gap: 1rem;
}

#image-display {
    display: flex;
    justify-content: center;
}

.register-page_inner_left_form {
    width: 100%;
    @include flexBox(column, nowrap, space-between, start);
    gap: 1.3rem;
}

._first_last_inputs_span {
    padding-left: 0.2rem;
    font-size: 0.875rem;
    font-family: map-get($body-main , "font-plusjakarta" );
    color: #A1A1A1;
}

.register-page_inner_left_form_agree_box {
    @include flexBox(row, nowrap, start, center);
    gap: 0.3rem;
    font-family: map-get($body-main , "font-plusjakarta" );

    > span {
        color: #CDCECF;

        > a {
            text-decoration: none;
            background: var(--linear, linear-gradient(180deg, rgba(255, 150, 251, 0.69) 0%, rgba(188, 143, 234, 0.69) 100%));
             background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}


label input::placeholder {
    opacity: 0.4;
}

.register-page_inner_left_form__upl_img_serImage_btn {
    width: 70%;
    height: 2.10056rem;
    outline: none;
    font-size: 0.9rem;
    border: 1px solid #282828;
    background: #141617;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    color: map-get($text-colors , "font-color-solid-black" );
    @include flexBox(row, nowrap, center, center);
    gap: 0.5rem;
}
